@import '../../styles/variables.scss';

.main-section {
    overflow: hidden;

    position: relative;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%);
    background-image: url('../../assets/images/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .main-section__image {
        position: absolute;

        left: 50%;
        top: -30%;
        margin-right: -50%;
        transform: translateX(-50%);

        object-fit: cover;
    }

    .main-section__content {
        padding: 250px 34px 44px 34px;

        .main-section__title {
            text-align: center;

            font-size: 36px;
            color: $primary-text-color;
            line-height: 1;

            span {
                color: $logo-color;
            }
        }

        .main-section__text {
            text-align: center;
            font-weight: 800;

            margin-top: 17px;
            color: $primary-text-color;

            span {
                color: $accent-color;
            }
        }

        .main-section__button {
            margin-top: 17px;
            display: flex;
            justify-content: center;
        }
    }

    @media (max-width: $tablet) {
        margin-left: -$mobile-container-padding;
        margin-right: -$mobile-container-padding;
    }

    @media (min-width: 768px) and (max-width: $desktop) {
        margin-left: -$tablet-container-padding;
        margin-right: -$tablet-container-padding;

        .main-section__content {
            padding: 100px 0px 100px 30px;

            .main-section__image {
                top: 0;
                left: 75%;
                margin-right: 0;
                transform: none;
                scale: 0.8;
            }

            .main-section__text-container {
                width: 420px;

                .main-section__title {
                    text-align: left;
                    font-size: 48px;
                }

                .main-section__text {
                    text-align: left;
                    font-size: 22px;
                }

                .main-section__button {
                    justify-content: left;
                }
            }
        }
    }

    @media (min-width: 1249px) {
    }
}
