.container {
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 80px;

    @media (max-width: 1248px) {
        max-width: 100%;
        padding: 0 30px;
    }

    @media (max-width: 768px) {
        padding: 0 20px;
    }
}
