@import '../../../styles/variables.scss';

.btn {
    padding: 7px 40px;
    border-radius: 100px;

    font-size: 16px;
    font-weight: 700;

    cursor: pointer;
    transition: all 0.3s ease;

    color: black;
}

/* Стиль для кнопки с жёлтым фоном */
.btn--yellow {
    background-color: $accent-color;
    color: black;

    &:hover {
        background-color: rgba($accent-color, 0.6);
    }

    @media (min-width: $tablet) {
        padding: 14px 40px;
    }
}

/* Стиль для кнопки с бордером и прозрачным фоном */
.btn--outline {
    margin-top: 22px;

    background-color: transparent;
    border: 2px solid $accent-color;
    color: $accent-color;

    &:hover {
        border-color: rgba($accent-color, 0.6);
        color: rgba($accent-color, 0.6);
    }

    @media (min-width: $desktop) {
        padding: 14px 40px;
    }
}
