$background-color: #304571;
$accent-color: #ebff00;
$logo-color: #ff70d9;
$header-background-color: #000000;
$footer-background-color: #000000;
$primary-text-color: #ffffff;

$mobile-container-padding: 20px;
$tablet-container-padding: 30px;
$desktop-container-padding: 80px;

$offer-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%);

$tablet: 768px;
$desktop: 1248px;
